/* <style> */
body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

.top {
    display: flex;
    flex-flow: column wrap;
    background-color: #CBF1F5;
    color: #393E46;
    height: 35vh;
    align-items: center;
    justify-content: center;

}

.top_line {
    /* border: 4px solid red; */
    margin: 2px;
}

#top_line1 {
    margin-top: 15px;
    font-size: 1.5rem;
}

#top_line3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#top_line2 {
    font-size: 3rem;
}

.middle {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #71C9CE;
    height: 7vh;
    padding: 2px;


}

/* .middle_container {
    margin: auto;
    padding: 1%;
} */

#middle_container1:hover {
    background-color: #3498db;
}

#middle_container2 {
    padding-left: 2.5rem;
}

#middle_container3 {
    /* display: flex; */
}


.bottom {
    display: flex;
    flex-direction: column;

    height: 60vh;
    background-color: #393E46;
}


.box_group1,
.box_group2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;

    height: 20;
    align-items: center;
}

/* .box_group2{
    margin-top: 3vh;
} */

.box {
    height: 20vh;
    width: 9vw;
    background-color: beige;
    margin: .5rem 1rem 0rem 1rem;
    border-radius: 8px;
}

.btn {
    background: #3498db;
    border-radius: 6px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    /* margin-right: 9px; */
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.mode-color-curr{
    cursor: pointer;        
    background: #3498db;
    
}
.mode-color-other{
    cursor: pointer;        
    background: #3cb0fd;
}

.mode-color-other:hover {
    background: #fdc03c;
    text-decoration: none;
    cursor: pointer;
}

#hardmode{
    margin-left: 6px;
}

@media (max-width: 700px)
{
    .box{
        height: 12vh;
        width: 15vw;
    }
    #top_line1 {
    margin-top: 15px;
    font-size: 2rem;
    }

    #top_line3 {
        margin-bottom: 10px;
        font-size: 2rem;
    }

    #top_line2 {
        font-size: 2.5rem;
    }

    #middle_container2 {
        padding-left: 0px;
    }
}

/* </style> */